body {
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: rgb(24, 173, 124);
}

header a{
    padding-bottom: 35px;
}

.abrirMenu{
    color: rgb(24, 173, 124);
    font-size: 25px;
    margin-bottom: 25px;
    line-height: 1.5;
    margin-top: -20px; 
    position: relative;
}

nav{
    height: 100%;
    width: 0px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    transition: width 0.3s;
}

nav a{
    font-size: 15px;
    display: block;
    padding: 12px 10px 12px 32px;
}

nav a:hover{
    color: #000000;
    background-color: white;
}

main{
    padding: 10px;
    transition: margin-left;
}

#imagens, img {
    width: 500px;  /* Ajuste para o valor desejado */
    height: 300px; /* Ajuste para o valor desejado */
    object-fit: contain; /* Isso garante que a imagem seja redimensionada para caber no espaço disponível, mantendo a proporção */
    margin-left: 20px;
    width: 50%;
    border: 4px solid rgb(23, 102, 76);
    max-width: 100%;
    max-height: 400px;
    margin-top: 20px;
}

h1{
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding-top: 15px;
    min-height: 70px;
    border-bottom: rgb(24, 173, 124) 3px solid;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: rgb(24, 173, 124);
}

.textoEsquerda{
    margin-right: 20px;
    z-index: 1;
    max-width: 100%;
    overflow: hidden;
}

.clear {
    clear: both;
}

header h1 {
    margin: 0;
    padding-bottom: 10px;
}

h2{
    margin-top: 20px; 
    margin-left: 150px;
    color: rgb(24, 173, 124); 
    text-align: left; 
    max-width: 100%;
    justify-content: space-between;

}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    color: rgb(24, 173, 124);
    margin-top: 20px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-top: rgb(24, 173, 124) 3px solid;
    bottom: 0;
    height: 0px;
}

.textoRodape{
    float: left;
    margin-left: 10px;
}

.itensRodape{
    float: right;
    margin-left: 10px;
}

.textoDois{
    width: 80%;
    margin: auto;
    overflow: hidden;
    color: rgb(24, 173, 124);
    margin-top: 20px;
    display: flex;
}
header a.abrirMenu {
    margin-top: -20px; /* Ajuste conforme necessário */
}

.containerDois {
    width: 80%;
    margin: auto;
    overflow: hidden;
    color: rgb(24, 173, 124);
    margin-top: 20px;
}

.continuacaoTexto {
    margin-top: 20px; 
    color: rgb(24, 173, 124); 
    text-align: left; 
    max-width: 100%;
    justify-content: space-between;
}

#imagens{
    flex: 50%;
  padding: 5px;
  margin-left: 25%;

}
